<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{url_for('product._list')}}">EzyShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                        href="{{url_for('product._list')}}">Home</a></li>

                {%if g.user%}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }}
                        (로그아웃)</a></li>
                {%else%}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.signup') }}">회원가입</a></li>
                {%endif%}


            </ul>
            {%if g.user.id==1%}
            <button class="btn btn-outline-dark" type="button"
                onclick="window.location.href='{{ url_for('order.order_list') }}' ">
                <i class="bi bi-person-fill me-1 text-dark"></i>
                마이 페이지

            </button>
            {%else%}
            <button class="btn btn-outline-dark" type="button"
                onclick="window.location.href='{{ url_for('order.cart') }}' ">
                <i class="bi-cart-fill me-1"></i>
                장바구니

            </button>
            <button class="btn btn-outline-dark" type="button"
                onclick="window.location.href='{{ url_for('order.order_list') }}' ">
                <i class="bi bi-person-fill me-1 text-dark"></i>
                마이 페이지

            </button>
            {%endif%}

        </div>
    </div>
</nav>